<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Website Name Placeholder</title>
</head>
<body>

<header>
    <div class="logo">
        <img src="logo.png" alt="Website Logo">
    </div>
    <nav>
        <ul>
            <li><a href="home.html" class="active">Home</a></li>
            <li><a href="usage.html">Usage</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="content">
    <h1>Image Classification</h1>
    <p>Upload your image here</p>
    <form method="post" enctype="multipart/form-data" class="upload-form">
        <input class="button" type="file" name="file" accept="image/*" required>
        <div class="button-wrapper">
            <button class="button" type="submit">Upload Image</button>
        </div>
    </form>

<!-- {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}

    {% if predictions %}
        <h2>Predictions:</h2>
        <ul>
            {% for label, score in predictions %}
                <li>{{ label }}: {{ score }}%</li>
            {% endfor %}
        </ul>
    {% endif %} -->

</section>

</body>
</html>
