<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
    <title>Chatbot</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Website Logo">
        </div>
        <nav>
            <ul>
                <li><a href="home.html" class="active">Home</a></li>
                <li><a href="usage.html">Usage</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="content">
        <h1>Image Classification</h1>
        <p>Upload your image here</p>
        <form id="imageUploadForm" method="post" enctype="multipart/form-data" class="upload-form" action="/upload">
            <input class="button" type="file" name="file" accept="image/*" required>
            <div class="button-wrapper">
                <button class="button" type="submit">Upload Image</button>
            </div>
        </form>
        
    </section>

    <div class="card">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,q_auto:good/v1/gcs/platform-data-dsc/events/small-logo.png" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span>ChatBot</span>
                    <p>Ask me anything!</p>
                </div>
            </div>
        </div>
        <div id="messageFormeight" class="card-body msg_card_body">
            
            
        </div>
        <div class="card-footer">
            <form id="messageArea" class="input-group">
                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/> 
                <div class="input-group-append"> 
                    <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button> 
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#messageArea").on("submit", function(event) {
                const date = new Date();
                const hour = date.getHours();
                const minute = date.getMinutes();
                const str_time = hour +":"+ minute;
                var rawText = $("#text").val();
        
                var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
                
                $("#text").val("");
                $("#messageFormeight").append(userHtml);
        
                $.ajax({
                    data: {
                        msg: rawText,
                    },
                    type: "POST",
                    url: "/chat",  // Change this to /chat route
                }).done(function(data) {
                    var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data.response + '<span class="msg_time">' + str_time + '</span></div></div>';
                    $("#messageFormeight").append($.parseHTML(botHtml));
                });
                event.preventDefault();
            });
        
            $("#imageUploadForm").on("submit", function(event) {
                var formData = new FormData($(this)[0]);
        
                $.ajax({
                    url: "/upload",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                }).done(function(data) {
                    console.log(data.message);
                    // Handle success message if needed
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log("Error:", errorThrown);
                    // Handle error message if needed
                });
        
                event.preventDefault();
            });
        });

    </script>
</body>
</html>
