<!DOCTYPE html>
<html>
<head>
    <title>Placeholder Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="page">
    <h2>More About our Product:</h2>
  

  <button class="button" onclick="toggleText()">
    <i class="fas fa-eye"></i> ABOUT US
  </button>
  <p class="text">
    placeholder text placeholder text placeholder text placeholder text <br>
    placeholder text placeholder text placeholder text placeholder text <br>
    placeholder text placeholder text placeholder text placeholder text <br>
    placeholder text placeholder text placeholder text placeholder text <br>
    placeholder text placeholder text placeholder text placeholder text <br>
    </p>

  <div class="button-wrapper">
    <div class="change-pages-container">
      <button class="button" onclick="navigateToPage('home.html')">
        <i class="fas fa-arrow-left"></i> PREVIOUS
      </button>
    </div>
  </div>
</div>

<script>
    function toggleText() {
      var text = document.querySelector('.text');
      if (text.style.display === 'none') {
        text.style.display = 'block';
      } else {
        text.style.display = 'none';
      }
    }
    function navigateToPage(page) {
    document.body.style.opacity = 0;
    setTimeout(function() {
      window.location.href = page;
    }, 500);
  }
  </script>
</body>
</html>